.indicator{
 @apply border-b border-main my-0.5 mx-auto opacity-75;
}

.indicator:nth-child(2){
 max-width: theme("width.1/2");
}

.indicator:nth-child(3){
 max-width: theme("width.1/3");
}

.indicator:nth-child(4){
 max-width: theme("width.1/4");
}
